body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #0E1621;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.wrapperButton {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.wrapperInput {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

