.wrapperRound {
    border: 7px solid rgba(255, 124, 174, 0.78);
    border-radius: 100px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #276899;
    color: #fff;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    font-size: 20px;
}

.wrapperRound:hover {
    transform: scale(1.2) rotate(360deg);
    transition: 0.5s;
    cursor: cell;
}

.title {
    font-weight: bold;
    color: black;
    font-size: x-large;
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    .wrapperRound {
        margin-bottom: 20px;
    }
}

